.navbar{
    background-color: rgba(12, 12, 12, 0.56);
    margin:0;
    padding:.6em 0 .6em 0;
    border-radius:0;
    width:100%;
    
}

.navbar a{
    color:rgb(255, 255, 255);
}
#navigation a:focus,
#navigation a:hover{
   color:#000000;
}

.navbar-brand:hover,
.navbar-brand:focus{
    font-size:1.3em;
    font-weight:500;
}
.jumbotron hr{
    border:none;
    height:0.1em;
    background-color:#000000;  
}
.btn-default{
    background-color:rgba(4, 4, 4, 0.86);
    color:rgb(255, 255, 255);
}
.btn-default:hover,
.btn-default:focus{
    background-color:rgba(255, 255, 255, 0.5);
    color:  rgba(0, 0, 0, 0.84);
    font-weight:600;
}
.jumbotron h4{
    font-family:'Eras ITC';
    font-weight:900;
    text-transform:uppercase;
    
}
.jumbotron-content{
    background-color:rgba(255, 255, 255, 0.5);
    padding:3em 2em 3em 2em;
}
.icon-bar{
    background-color:rgb(255, 255, 255);
}

.jumbotron{
    padding:3em;
    background:none;
    
}
.jumbotron h1{
    margin:0.1em;
    color:rgba(0, 0, 0, 0.84);
}
.jumbotron p{
    font-size:medium;
}

#header{
    background-image:url(../images/pews.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.navbar a span{
    color:rgb(172, 109, 109);
}

.event-upcoming,
.sermon-latest{
    overflow:auto;
    width:40%;
    display:inline;
    margin:auto;
    
}

.event-upcoming{
    background-color:rgba(255, 255, 255, 0.5);
    padding:2em;
}

.event-upcoming h4{
    color:rgb(0, 10, 121);
    
}
.event-upcoming hr {
    background-color: rgb(216, 96, 50);
    border:none;
    height:0.1em;
}
.event-upcoming span{
    color:rgb(216, 96, 50);
}
.event-upcoming h5{
    color:#000000;
}

.event-upcoming, .sermon-latest {
    box-shadow:rgba(4, 4, 4, 0.86) 0 0 10px 10px ;
}
.sermon-latest {
    color: rgb(255, 255, 255);
    background-color: rgb(216, 96, 50);
    padding:0.2em;
}

